{% extends 'web/base.html' %}
{% block title %}{{ movie.title }}{% endblock %}

{% block body %}


    <div class="container-fluid col-sm-offset-1">

        <div class="row">

            <!-- Left Movie Info -->
            <div class="col-sm-2 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#">
                            <img class="img-responsive"
                                 src="{{ movie.movie_logo.url }}">
                        </a>
                        <h2></h2>
                    </div>
                </div>
            </div>
            <!-- Right Movie Info -->
            <div class="col-sm-offset-1 col-sm-4 col-md-4">
                <h1>{{ movie.title }}</h1>
                <h3><small>Overview: {{ movie.overview }}</small></h3>
                <h3><small>{{ movie.genre }}</small></h3>
                <h3><small>Please rate to get recommendation</small></h3>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">
                                {% if message.tags %}
                                    {{ message }}{% endif %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="col-sm-offset-0 col-sm-8">
                    <form action="{% url 'detail' movie.id %}"
                          class="form-horizontal" method="post"
                          name="ratingForm"
                          onsubmit="return validateForm()" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="star-rating">
                                        <span class="fa fa-star-o"
                                              data-rating="1"></span>
                                            <span class="fa fa-star-o"
                                                  data-rating="2"></span>
                                            <span class="fa fa-star-o"
                                                  data-rating="3"></span>
                                            <span class="fa fa-star-o"
                                                  data-rating="4"></span>
                                            <span class="fa fa-star-o"
                                                  data-rating="5"></span>
                                            <input class="rating-value"
                                                   name="rating"
                                                   type="hidden"
                                                   value={{ rating }}>
                                            {% csrf_token %}

                                        </div>
                                    </div>
                                </div>
                                <input class="btn btn-info" type="submit"
                                       value="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <h1>Похоже фильмы: </h1>
                {% for rmovie in rec_movies %}
                        <div class="col-sm-2 col-md-2 ">
                            <div class="thumbnail">
                                <a href="{% url 'detail' rmovie.id %}">
                                    <h4>{{ rmovie.title }}</h4></a>
                                <a href="{% url 'detail' rmovie.id %}">
                                    <img class="img-responsive"
                                         src="{{ rmovie.movie_logo.url }}">
                                </a>
                                <h5>{{ rmovie.genre }}</h5>
                                <div class="caption">

                                    <!-- View Details -->
                                    <a class="btn btn-primary btn-sm"
                                       href="{% url 'detail' rmovie.id %}"
                                       role="button">Give
                                        Rating</a>


                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}